ComicBookStore/obj
ComicBookStore/obj/*
/ComicBookStore/obj/*
ComicBookStore/obj/
ComicBookStore\obj\
\ComicBookStore\obj\
ComicBookStore/App_Data/*

ComicBookStore/bin
ComicBookStore/bin/*
/ComicBookStore/bin/*
ComicBookStore/bin/
ComicBookStore\bin\
\ComicBookStore\bin\
ComicBookStore\App_Data\*