GunStore/obj
GunStore/obj/*
/GunStore/obj/*
GunStore/obj/
GunStore\obj\
\GunStore\obj\
GunStore/App_Data/*

GunStore/bin
GunStore/bin/*
/GunStore/bin/*
GunStore/bin/
GunStore\bin\
\GunStore\bin\
GunStore\App_Data\*