<h2>Contact Us</h2>
<h5>comicbook@sotre.com</h5>
<h5>02-234-23556</h5>

<h2>Seller Locations</h2>
<div id="map" style="width:800px; height:500px"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB07yxRjqekj1sY46JJ76nNXfe147DQzUw&callback=initMap"></script>
<script type="text/javascript">
    var map;
    var geocoder;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 31.682216, lng: 34.956404 },
            zoom: 7
        });
        geocoder = new google.maps.Geocoder();

        $.getJSON('@Url.Action("GetAllSellersAddresses", "Map")')
            .success(function (addresses) {
                $.getJSON('@Url.Action("GetAllSellersNames", "Map")')
                    .success(function (names) {
                        markMapWithSellers(addresses, names);
                    });
            });

        function addMarker(location, map, lable) {
            var marker = new google.maps.Marker({
                position: location,
                label: lable,
                map: map
            });
        }

        function geocodeAddress(geocoder, map, address, name) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    addMarker(results[0].geometry.location, map, name);
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        function markMapWithSellers(addresses, names) {
            for (var i = 0; i < addresses.length; i++) {
                var address = addresses[i];
                geocodeAddress(geocoder, map, address, names[i]);
            }
        }
    }
</script>
